extends layout.pug


block content 
  nav.grid-container.portfolio-breadcrumb.boxed
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project.boxed
    .grid-x
      .cell.small-6.medium-9.large-9

        h1.text-center Jordan M. Stokes
        p.lead.space.text-light.text-center
          |        <strong class="theme-db">Fully</strong>-Driven || Knowledge-<strong class="theme-db">Stacked</strong> || <strong class="theme-db">Java</strong>-Sipping 
          | <br /> a <strong class="theme-db">Script</strong>-Spewing Heck of a <strong class="theme-db">Dev.</strong>
      
        .portfolio-bio
          ul.text-center
              li Proficiency in the JavaScript language, general programming and IDE usage.
              li Work at a Malcolm Baldrige National Quality Award winning company.
              li Continually pushed to learn more and expand my skill sets.
              li Self-driven to be the best.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
            li JavaScript
            li HTML
            li CSS
            li Java
            li NodeJS
            li C#
            li Express
            li Python
            li Un Poquito de Espanol

        h6 Contact Info
        ul
          li (512) 638-5754
          li jordan.m.stokes@outlook.com

        a.button.expanded(href='https://www.linkedin.com/in/jordan-m-stokes/') LinkedIn
        a.button.expanded(href='https://github.com/jordan-m-stokes') GitHub
        a.button.expanded(href='https://www.facebook.com/jordan.is.stoked') Facebook   
  nav.grid-container.portfolio-breadcrumb.boxed
    a(href='/') ← Back
  