extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb.boxed
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-14.medium-8.large-8
        .boxed
          h1.text-center Jordan M. Stokes
          p.lead.space.text-light.text-center
            |        <strong class="theme-db">Fully</strong>-Driven || Knowledge-<strong class="theme-db">Stacked</strong> || <strong class="theme-db">Java</strong>-Sipping 
            | <br /> a <strong class="theme-db">Script</strong>-Spewing Heck of a <strong class="theme-db">Dev.</strong>
      
      .cell.small-14.medium-4.large-4
        .boxed
          h6 Skills
          ul
            li JavaScript
            li HTML
            li CSS
            li Java
            li NodeJS
            li C#
            li Express
            li Python
            li Un Poquito de Espanol

      .cell.small-14.medium-8.large-8    
        .boxed
          .portfolio-bio.text-center
            ul
              li Proficiency in the JavaScript language, general programming and IDE usage.
              li Work at a Malcolm Baldrige National Quality Award winning company.
              li Continually pushed to learn more and expand my skill sets.
              li Self-driven to be the best.
        
      
      .cell.small-14.medium-4.large-4
        .boxed
          h6 Contact Info
          pre
            ul
              li (512) 638-5754
              li jordan.m.stokes@outlook.com
  
  .boxed.grid-container.boxed
    .centered
      a.button.adjacent(href='https://www.linkedin.com/in/jordan-m-stokes/') LinkedIn
      a.button.adjacent(href='https://github.com/jordan-m-stokes') GitHub
      a.button.adjacent(href='https://www.facebook.com/jordan.is.stoked') Facebook       
  nav.grid-container.portfolio-breadcrumb.boxed
    a(href='/') ← Back
  